

.main {
    padding: 3rem;
}

.mainText  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    resize: both;
    overflow: auto;
   position: absolute;
  
  
    
}

.setImage {
    width: 3.5rem;
    height: 2rem;
}

.centerText {
    text-align: center;
    width: 100%;
  padding: .8rem;
  //resize: both;
  overflow: auto;
     color: white;
     margin-top: .1rem;
}



.smallText {
    padding: .4rem;
    margin: .8rem 0;
    font-size: .7rem;
    font-style: italic;
}

.mediumText {
    padding: .4rem;
    margin: .8rem 0;
    font-size: .7rem;
    font-style: italic;
}

.bigText {
    padding: .4rem;
    margin: .8rem 0;
    font-size: .9rem;
    font-weight: bold;
}
.startButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #b830d1;
    height: 1rem;
    box-shadow: 0px 7px 10px -4px #b830d1, 3.5px 3.5px 10px;
    text-align: center;
    padding: 0.5rem;
    margin: 2.5rem 6.2rem;
    border-radius: 8px;
}


img.bg {
    
    min-height: 100%;
    min-width: 1100px;
    width: 100%;
    height: auto; 
    position: fixed;
    top: 0;
    left: 0;
  }
  

  @media screen and (min-width: 400px) { 
   
   /*
    img.bg {
      left: 50%;
      margin-left: -525px;   
    }
    */
    .startButton {
        height: 2rem;
        padding: 0.5rem;
        margin: 5rem 9rem;
        
    }

    .smallText {
        padding: .4rem;
        margin: .8rem 0;
        font-size: .7rem;
        font-style: italic;
    }
    
    .mediumText {
        padding: .4rem;
        margin: .8rem 0;
        font-size: .7rem;
        font-style: italic;
    }
    
    .bigText {
        padding: .4rem;
        margin: .8rem 0;
        font-size: .9rem;
        font-weight: bold;
    }
  }
  