<img class="bg" src="../assets/images/startForm.jpg" alt="">
<div class="mainText">

    
    <div class="centerText">
        <div class="startButton">
            <img  class="setImage" src="../assets/images/saction-logo.png" alt="">
        </div>
            <div class="bigText">
                SACTION SARL
                PLUS QU'UNE VISION C'EST L'AVENIR!
            </div>

            <div class="mediumText">
                BIENVENUE, CHER CLIENT NOUS VOUS PRIONS DE NOUS ACCORDER QUELQUES MINUTES DE VOTRE TEMPS POUR REMPLIR NOTRE FORMULAIRE DE COMMANDE.  
            
            </div>

            <div class="smallText">
                PRENEZ QUELQUES MINUTES POUR VOUS RELAXER ET CONTINUONS.
            </div>

           
            <div class="startButton">
                <span>Démarrez</span>
            </div>

            
           
    </div>
</div>